ADAVIDEORAG_LLM_BASE_URL=http://localhost:9997/v1
ADAVIDEORAG_LLM_API_KEY=EMPTY
ADAVIDEORAG_VLM_BASE_URL=http://localhost:8000/v1
ADAVIDEORAG_VLM_API_KEY=EMPTY
ADAVIDEORAG_INTENT_MODEL=deepseek_32B
ADAVIDEORAG_BEST_MODEL=deepseek_32B
ADAVIDEORAG_CHEAP_MODEL=deepseek_7B
ADAVIDEORAG_EMBEDDING_MODEL=bge-m3
ADAVIDEORAG_VLM_MODEL=Qwen2.5_VL
ADAVIDEORAG_CAPTION_MODEL_PATH=./MiniCPM-V-2_6-int4
ADAVIDEORAG_WHISPER_MODEL_PATH=./faster-distil-whisper-large-v3
ADAVIDEORAG_OCR_LANGUAGES=en
ADAVIDEORAG_WORKING_DIR=./adavideorag_cache
ADAVIDEORAG_LOG_LEVEL=INFO
